MechelexTask1_goalsFromGrant.rtf
previousResults/
tests/
zarchive_versions/
algoComp/algos/AG/py-cfg-new/*
algoComp/scripts/*pyc
*STDIN*
*.o
*.d
*~
algoComp/scripts/*.pyc
*.pyc
*.DS_Store
*/*.DS_Store
*/*/*.DS_Store
phonologization/test/childes/*/*
/phonologization/scripts/examples
phonologization/test/childes/*
