MechelexTask1_goalsFromGrant.rtf
previousResults/
tests/
zarchive_versions/
algoComp/algos/AG/py-cfg-new/*
algoComp/scripts/*pyc
*STDIN*
*.o
*.d
*~
algoComp/scripts/*.pyc
*.pyc
*.DS_Store
*/*.DS_Store
*/*/*.DS_Store
phonologization/scripts/examples
/phonologization/scripts/bern.out
/phonologization/scripts/bern.phon
phonologization/scripts/test/
algoComp/algos/phillips-pearl2014/output_clean/*
