MechelexTask1_goalsFromGrant.rtf
previousResults/
tests/
zarchive_versions/
algoComp/algos/AG/output/
algoComp/algos/AG/input/
algoComp/algos/*/input.*
algoComp/algos/recodeforpuddle/
algoComp/algos/recodeforpuddle.zip
*.o
*.d
*~
algoComp/scripts/*.pyc
